name: Test Apptainerbuild Action
on: 
  push: 
    branches:
      - main
  workflow_dispatch:

jobs:
  build_sif:
    runs-on: ubuntu-latest
    name: Build SIF from Dockerfile
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Convert Dockerfile to SIF
        uses: hotwa/docker-to-sif-action@v1.0
        with:
          dockerfile_path: 'debian.dockerfile'
          # apptainer_key: ${{ secrets.APPTAINER_KEY }}
          
      - name: Upload SIF file
        uses: actions/upload-artifact@v2
        with:
          name: SIF-file
          path: /github/workspace/*.sif.tar.gz
          